html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #0f0f0f;
  color: #fff;
  font-family: 'Inconsolata', monospace, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

h1 {
  font-size: 3rem;
  margin-top: 20%;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  margin-top: 5rem;
  filter: drop-shadow(2px 2px 10px #087d7e);
  text-transform: uppercase;
}

.banner {
  background-image: url(../img/dev.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 19rem;
  position: relative;
}

.banner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background: linear-gradient(0deg, #0f0f0f, #0f0f0f80);
}

.imgProfile {
  margin: 0 auto;
  content-visibility: auto;
  border-radius: 50%;
  width: 14rem;
  height: 14rem;
  margin-top: -9rem;
  border: solid 2px #7b7b7b;
}

.titleName {
  font-size: 3rem;
  margin-top: -50%;
  text-transform: uppercase;
  text-wrap: nowrap;
  width: min-content;
  margin: 2rem auto 1.5rem;
  border-radius: 100rem;
  position: relative;
  z-index: 2;
}

.socialMedias {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialMedias .circle {
  border-radius: 50%;
}

.socialMedias a {
  margin: 0 0.5rem;
  transition: all 0.3s ease-in-out;
}

.socialMedias a:hover {
  filter: brightness(0.5);
}

.socialMedias a img {
  width: 2rem;
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 8px;
  }

  .socialMedias a {
    margin: 0 1rem;
  }

  .socialMedias a img {
    width: 3rem;
  }
}